body{
  /*background-color: gray;*/
  /*background: gray;*/
  background: url(https://i.pinimg.com/736x/b0/0a/dd/b00add92482f4bb3efb0a1c171716c33--beach-waves-beach-bum.jpg);
  background-repeat: no-repeat;
}

div{
  /*background-color: blue;*/
  background: blue;
  border-color: orange;
  /*border-width: thick; */
  border-width: 4px;
  border-style: double;
}

p{
  color: yellow;
}

span{
  background: red;
  color: black;
}
